@font-face {
    font-family: Canter;
    src: url(../../fonts/Canter-Bold.woff) format(woff);
}
.button{
    display: inline-block;
    background-color: #00FF94 ;
    box-shadow: 5px 5px 0 black;
    padding: 10px 15px;
    transition: transform 100ms linear;
    font-family: Canter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    white-space: nowrap;
}
.button:hover{
    transform: scale(1.08);
}

.button_contact{
    display: inline-block;
    background-color: #00E0FF ;
    box-shadow: 5px 5px 0 black;
    padding: 10px 15px;
    transition: transform 100ms linear;
    font-family: Canter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
.button_contact:hover{
    transform: scale(1.08);
}

.button-arrow{
    width: 50px;
    height: 50px;
    background-color: #00FF94;
    box-shadow: 5px 5px  0px #000;
    cursor: pointer;
    position: relative;

}


.button-arrow .content{
    display: none;
}

.button-arrow::before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid #fff;
    transform: translateX(6px) ;
}

.button-arrow.-left::before{
    transform: rotate(180deg) translateX(15px);
}

/*.button-arrow.-left:active {
    transform: scale(0.90)
}
*/
/*.button-arrow.-right:active {
    transform: scale(0.90)
}
*/
