@font-face {
    font-family: Canter;
    src: url(../../fonts/Canter-Bold.woff) format(woff);
}

header {
    background-color: #00E0FF;
    border-bottom: 10px solid black;
    padding: 10px 13%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.options {
    align-items: center;
    color: black;
    font-family: Canter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    padding-right: 30px;
}

.logo{
    width: 7%;
    display: flex;
}

.header-container .navheader{
    display: flex;
}