@font-face {
    font-family: Canter;
    src: url(../../fonts/Canter-Bold.woff) format(woff);
}
.skillsBackground{
    background-color:#00FF94;
    padding-top: 1%;
    padding-bottom: 3%;
    border-bottom: 10px solid #00E0FF;
}

.skillList{
    display: flex;
    align-items: center;

    
}

.skillList .-title{
  font-family: Canter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.skillList .icon{
    margin-top:70px;
    width: 130px;
    height: 130px;
    margin-right: 25px;
    display: flex;
}


progress {
    -webkit-appearance: none;
  }
  
  ::-webkit-progress-bar {
    background-color: rgb(255, 255, 255);
    
  }
  ::-webkit-progress-value {
    background-color:#00E0FF;
  }

  ::-webkit-progress-inner-element {
    width: 300%;
    height: 350%;
    border: 5px solid black;
  }